{% extends "base.html" %} {% block content %}

<h2>Sube una imagen de una propiedad</h2>
<p>Esta es una demo de una aplicacion de corredora de propiedades que etiqueta automáticamente las fotos de propiedades en "casas" o "departamentos".</p>
<p>Se utiliza cuando un usuario sube una foto, de esa forma se agrega la metadata de la imagen para la búsqueda por imágenes dentro de la aplicación</p>
<div>
    <form id="upload-file" method="post" enctype="multipart/form-data">
        <label for="imageUpload" class="upload-label">
            Subir
        </label>
        <input type="file" name="file" id="imageUpload" accept=".png, .jpg, .jpeg">
    </form>

    <div class="image-section" style="display:none;">
        <div class="img-preview">
            <div id="imagePreview">
            </div>
        </div>
        <div>
            <button type="button" class="btn btn-primary btn-lg " id="btn-predict">¡Predecir!</button>
        </div>
    </div>

    <div class="loader" style="display:none;"></div>

    <h3 id="result">
        <span> </span>
    </h3>

</div>

{% endblock %}